<!DOCTYPE html>
<html>
<head>
	<title>My first app</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
	<div class="container">
		
			<nav class="navbar navbar-dark bg-dark">
 				 <span class="navbar-text">Robotic Project - Rouzbeh Sedighi</span>
			</nav>
		
			<div class="alert alert-success bold" role="alert">Distance = <span id=dst class="font-weight-bold"></span>cm
			</div>

			<div class="row" >
				<div class="col-12" style="margin-top:70px;">
					<p class="text-center font-weight-bold">Click To Change The Color !!</p>
				</div>
			</div>

			<form class="form-Color" action="/ChColor" method="post" role="form">
				<div class="row">
					<button type="submit" onclick="ChangeColor('B')" id=btnBlue type="button" class="btn btn-primary 	btn-lg btn-block">Blue</button>	
					<button type="submit" onclick="ChangeColor('G')" id=btnGreen type="button" class="btn btn-success	 	btn-lg btn-block">Green</button	>	
					<button type="submit" onclick="ChangeColor('R')" id=btnRed type="button" class="btn btn-danger 	btn-lg btn-block">Red</button>	
					<button type="submit" onclick="ChangeColor('P')" id=btnPurple type="button" class="btn btn-info 	btn-lg btn-block">Purple</butt	on>	
					<button type="submit" onclick="ChangeColor('W')" id=btnWhite type="button" class="btn btn-light 	btn-lg btn-block">White</button>
					<button type="submit" onclick="ChangeColor('f')" id=btnWhite type="button" class="btn btn-secondary 	btn-lg btn-block">Turn off</button>
					<input type="text" name="txtColor" class="form-control invisible" id="txtValue">

				</div>
			</form>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
	<script type="text/javascript">
		$(document).ready(function () {
			
			setInterval(rfr,250);
            
        	function rfr () {
      
        		$.ajax({//jquery ajax variable
				type:'get', //type of query
				dataType:'text', //data expected from server
				url:'/state', //the url od script
				data:{status:'state'}//data that it will be sent to the server
				}).done(function(status){//after a succesfull exchange this function it will be xecuted
				   if (status != '') {
				   	var tr_element=document.getElementById('dst');                   
                    tr_element.innerHTML= status ;
				   }
			});
			}
		});
		function ChangeColor(x){
			
				var txt_element=document.getElementById('txtValue');                   
                txt_element.value= x ;
          
				$.ajax({ 
					url: '/ChColor', 
					type: "POST", 
					dataType:'text',
					data: $('form').serialize(),
					//success: function(){
					//    alert('success');
					//  },
					//error: function(){
					//    alert('failure');
					//  }
				});	
		}
	</script>
</body>
</html>